.popUp {
  position: absolute;
  width: 400px;
  z-index: 1;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popUp > * {
  position: absolute;
}

.popup-input-panel {
  top: 20%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.noteText {
  border-radius: 5px;
}

.closePopupBtn {
  margin: 20px 0px;
  width: fit-content;
  cursor: pointer;
}
